*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    justify-content: center;
}
  
/* body {
    width: 100vw;
    height: 100vh;
    background-color: #FFFCEA;
    justify-content: center;
    display: flex;
    flex-direction: column;

} */
  
header{
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, #481A00,#BB5302 );
}
header > nav{
    width: 85%;
    height: 100%;
}
nav > ul{
    color: black;
}

.button{
    margin: 0.5rem;
    color: #481a00;
    border-radius: 8%;
    cursor: pointer;
    background-image: linear-gradient(to top, #FFEA85, #FFD846);
}
header > img{
    width: 15%;
    height: 100%;
    background-color: #fffcea;
    border-radius: 50%;
    box-shadow: 0 0 10px #fffcea;
}

main{
    width: 95%;
    height: 70%;
    background-image: linear-gradient(to top, #FFA200, #E27A00);
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.option{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.card {
    width: 10rem;
    height: 10rem;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    background-image: linear-gradient(to top, #FFFCEA, #FFF4C5);
}
  
.card > img {
    width: 100%;
    height: 80%;
    border-radius: 15px;
}
  
.card > h2 {
    font-size: 125%;
    color: #481A00;
}
  
footer{
    width: 95%;
    min-height: 100px;
    background-color: #BB5302;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #481A00, #BB5302 );
}

footer > a{
    box-shadow: 0 0 10px #fffcea;
}

